@*@model IEnumerable<BookStorageApp.Models.Book>*@

@model BookStorageApp.ModelsView.FilerViewModel
@{
    ViewBag.Title = "Все книги";
}

<div class="container">

    @await Html.PartialAsync("FiltersPartial", Model)

    @await Html.PartialAsync("TablePartial", Model.Books)

</div>